<div class="home" (swiperight)="swipe('map')">
  <div class="logo">
    <h1 class="titleLogo">WATER WATCH</h1>
  </div>

  <div class="nav">
    <div class="bttopaz">
      <a (swipeleft)="swipe('catch')" (click)="swipe('catch')">
        <p>
          <em>Log Catch</em>
        </p>
      </a>
    </div>

    <div class="homeBtn btblue">
      <a (swipeleft)="swipe('incident')" (click)="swipe('incident')">
        <p>
          <em>Report Incident</em>
        </p>
      </a>
    </div>
  </div>
</div>