<div class="page" (swiperight)="swipe(idx, $event.type)">
  <header>
    <h2 class="icon">Log Catch</h2>
    <app-progressbar [idx]="idx" [steps]="steps"></app-progressbar>
  </header>

  <div *ngIf="idx!==2" class="divPicture">
    <img class="picture" [src]="imageData" *ngIf="imageData" />
  </div>
  <div *ngIf="idx==2" class="divPicture">
    <agm-map *ngIf="event.location" [mapDraggable]=false [mapTypeControl]=false [panControl]=false [scrollwheel]=false [streetViewControl]=false [zoomControl]=false
      [latitude]="event.location.coordinates[1]" [longitude]="event.location.coordinates[0]" [zoom]="14">
      <agm-marker [latitude]="event.location.coordinates[1]" [longitude]="event.location.coordinates[0]" [iconUrl]="'/assets/fish.png'"></agm-marker>
    </agm-map>
    <form #eventForm="ngForm">
      <h3>Add a description</h3>
      <div>
        <label>Type of fish</label>
        <input type="text" name="event.details.type" id="type" required [(ngModel)]="event.details.type" autocomplete="off">
      </div>
      <div>
        <label>Length in inch</label>
        <input type="number" name="event.details.length" id="length" required [(ngModel)]="event.details.length" autocomplete="off">
      </div>
      <div>
        <label>Weight (optional in pounds)</label>
        <input type="number" name="event.details.weigth" id="weigth" required [(ngModel)]="event.details.weigth" autocomplete="off">
      </div>
    </form>
  </div>

  <footer *ngIf="idx==0">
    <img class="button-picture" (click)="imgFileInput.click()" src="/assets/photo-camera.png" />
    <input hidden type="file" accept="image/*;capture=camera" #imgFileInput (change)="readUrl($event)" />
  </footer>
  <footer *ngIf="idx==1">
    <div class="line">
      <div class="btnGrey">
        <a (click)="idx=0">Change Photo</a>
      </div>
      <div class="homeBtn btblue small">
        <a (click)="continue()">
          <p>
            <em>Continue</em>
          </p>
        </a>
      </div>
    </div>
  </footer>
  <footer *ngIf="idx==2">
    <div class="homeBtn btblue">
      <a (click)="submit()">
        <p>
          <em>LOG CATCH</em>
        </p>
      </a>
    </div>
  </footer>
</div>